/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* Browser default reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Color variables */
:root {
  --secura-gold: #f2a900;
  --secura-blue: #3e87cb;
  --secura-red: #cb333b;
  --secura-darkred: #93272c;
  --secura-green: #31b700;
  --secura-black: #3f4444;
  --secura-grey: #717c7d;
  --secura-lightgrey: #f2f2f2; /* Digital Style Guide Reference */
}

html {
  font-size: 62.5%; /* Reset base font size to 10px for easy rem calculations */
}

body {
  font-size: 1.6rem; /* Default body to 1.6rem/16px */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

li {
  list-style-type: none;
}

/* SECURA Resets */
a,
span,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f4444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* SECURA colors */
.secura-gold-bg { background-color: var(--secura-gold, #f2a900); }
.secura-gold-text { color: var(--secura-gold, #f2a900); }
.secura-blue-bg { background: var(--secura-blue, #3e87cb); }
.secura-blue-text { color: var(--secura-blue, #3e87cb); }
.secura-red-bg { background: var(--secura-red, #cb333b); }
.secura-red-text { color: var(--secura-red, #cb333b); }
.secura-darkred-bg { background: var(--secura-darkred, #93272c); }
.secura-darkred-text { color: var(--secura-darkred, #93272c); }
.secura-green-bg { background: var(--secura-green, #31b700); }
.secura-green-text { color: var(--secura-green, #31b700); }
.secura-black-bg { background: var(--secura-black, #3f4444); }
.secura-black-text { color: var(--secura-black, #3f4444); }
.secura-grey-bg { background: var(--secura-grey, #717c7d); }
.secura-grey-text { color: var(--secura-grey, #717c7d); }

/* Misc. colors */
.white-text { color: #fff; }
.white-bg { background: #fff; }
.black-text { color: #000; }
.black-bg { background: #000; }
.secura-lightgrey-bg { background-color: var(--secura-lightgrey, #f2f2f2); }

/* Hovers */
.secura-gold-bg-hover:hover { background: #ce9000; }
.text-decoration-underline-hover:hover { text-decoration: underline; }

/* Alignments */
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

/* Font weights */
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }

/* Creation */
.half-width { width: 50%; }
.width-95 { width: 95%; }
.full-width { width: 100%; }
.max-240 { max-width: 24rem; }
.max-480 { max-width: 48rem; }
.max-720 { max-width: 72rem; }
.max-960 { max-width: 96rem; }
.max-1200 { max-width: 120rem; }
.half-height { min-height: 50vh; }
.full-height { min-height: 100vh; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.m-auto { margin: auto; }

/* Flexbox */
.flex { display: flex; }
.flex-wrap-wrap { flex-wrap: wrap; }
.justify-content-center { justify-content: center; }
.justify-content-flex-start { justify-content: flex-start; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-space-around { justify-content: space-around; }
.justify-content-space-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.align-items-flex-start { align-items: flex-start; }
.align-items-end { align-items: end; }
.flex-direction-column { flex-direction: column; }
.flex-direction-column-reverse { flex-direction: column-reverse; }
.flex-direction-row { flex-direction: row; }
.flex-direction-row-reverse { flex-direction: row-reverse; }

/* Misc. */
.vertical-align-middle { vertical-align: middle; }
.br-2rem { border-radius: .2rem; }
.text-decoration-underline { text-decoration: underline; }
.cursor-pointer { cursor: pointer; }
.standard-box-shadow { box-shadow: 0 0 0.3rem 0.1rem rgb(0 0 0 / 5%); }
.word-break-all { word-break: break-all; }

/* Built component */
.secura-btn {
  background-color: var(--secura-gold, #f2a900);
  color: #fff;
  padding: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: .2rem;
}

.secura-btn:hover {
  background-color: #ce9000;
}

.secondary-btn {
  border: var(--secura-black, #3f4444);
  color: var(--secura-black, #3f4444);
  padding: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: .2rem;
}

.secondary-btn:hover {
  background-color: var(--secura-black, #3f4444);
  color: #fff;
}
